In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Точки клиента

In [2]:
df_points = pd.read_csv('data_points.csv')
df_points.head(2)

df_points.shape

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
0,8955.0,"Оренбургская обл, Оренбург г, Шарлыкское ш, д...",55.118272,51.843127,11/9/2016,NaN,478,без сквозного прохода,130000.0,ТЦ,...,3,с 10:00 до 22:00,NaN,0,0,1.0,7,38,70,Обучающая
1,11007.0,"Алтайский край, г. Барнаул, ул. Малахова, дом ...",83.696799,53.356954,4/26/2010,NaN,332,сквозной проход,31500.0,ТЦ,...,1,с 10:00 до 22:00,NaN,0,1,NaN,9,58,67,Обучающая

(246, 21)

In [3]:
df_points.columns

Index(['id точки', 'Адрес', 'Широта', 'Долгота', 'Дата открытия',
       'Дата закрытия', 'Площадь магазина', 'Тип входа', 'Площадь ТЦ',
       'Формат магазина', 'Парковка', 'Этаж', 'Время работы',
       'Заполненность ТЦ', 'Рядом с эскалатором', 'Рядом со входом',
       'Конкуренты в ТЦ', 'Расположение в ТЦ', 'Толока', 'Люкс', 'Выборка'],
      dtype='object')

## Выручка на точках

In [4]:
df_proceeds = pd.read_csv('proceeds_data.csv', encoding ='utf-8')
df_proceeds.head(2)

df_proceeds.shape

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,11366.0,"245 709,34","301 024,69","406 199,78","295 602,85","268 179,17","266 579,01","202 667,04","207 347,02","237 393,22",...,"271 084,02","298 845,27","277 776,35","270 902,92","280 106,10","243 448,84","236 709,82","248 268,78","296 637,10","314 456,87"
1,11810.0,"270 245,84","297 964,82","406 198,18","232 433,26","229 317,71","251 403,31","242 000,56","260 407,11","267 051,16",...,"245 402,38","273 515,01","240 088,29","196 260,47","228 920,59","204 058,83","207 104,01","203 499,41","206 013,02","218 636,44"

(155, 47)

In [5]:
df_proceeds.columns

Index(['id точки', '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
       '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
       '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01', '2016-02-01',
       '2016-03-01', '2016-04-01', '2016-05-01', '2016-06-01', '2016-07-01',
       '2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
       '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01',
       '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
       '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-04-01',
       '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01',
       '2018-10-01', '2018-11-01'],
      dtype='object')

In [6]:
# Приведем данные о выручке к виду float
df_proceeds = df_proceeds[df_proceeds.columns].astype(str)

for col in df_proceeds.columns:
    df_proceeds[col] = df_proceeds[col].str.replace(',','.')
    df_proceeds[col] = df_proceeds[col].str.replace(' ','')
    df_proceeds[col] = df_proceeds[col].str.replace('\xa0', '')
    df_proceeds[col] = df_proceeds[col].astype(float)

In [7]:
  df_proceeds.head(2)

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,11366.0,245709.34,301024.69,406199.78,295602.85,268179.17,266579.01,202667.04,207347.02,237393.22,...,271084.02,298845.27,277776.35,270902.92,280106.10,243448.84,236709.82,248268.78,296637.10,314456.87
1,11810.0,270245.84,297964.82,406198.18,232433.26,229317.71,251403.31,242000.56,260407.11,267051.16,...,245402.38,273515.01,240088.29,196260.47,228920.59,204058.83,207104.01,203499.41,206013.02,218636.44

### Категориальные признаки

In [8]:
# Проверка формата категриальных прзнаков
cat_columns = ['Тип входа', 'Формат магазина', 'Парковка', 'Этаж', 'Выборка']

for col in cat_columns:
    print(col, ':', df_points[col].unique())

Тип входа : ['без сквозного прохода' 'сквозной проход'
 'отдельный вход с улицы + сквозной проход' 'отдельный вход с улицы'
 'единственный вход в ТК' nan]
Формат магазина : ['ТЦ' 'Street' 'Мини ТЦ' 'Стрит' 'Мини-ТЦ' 'Strееt' 'Стрт']
Парковка : ['бесплатная парковка' '100' nan 'платная парковка' 'нет парковки' '1000'
 '700' 'бесплатная паpковка']
Этаж : ['3' '1' 'цоколь' nan '2' '4,5' '20' '2-мая']
Выборка : ['Обучающая' 'Тестовая' '-' nan 'Тест' 'Обyчающая']

Необходимо привести признаки к одному виду.

In [9]:
# Train и test выборки
df_points.loc[(df_points['id точки'].isin(df_proceeds['id точки']), 'Выборка')] = 'train'
df_points.loc[(df_points['Выборка'] != 'train'), 'Выборка'] = 'test'


df_points['Выборка'].unique()

array(['test', 'train'], dtype=object)

In [10]:
# Приведем формат парковки к одному виду
df_points['Парковка'].unique()

df_points.loc[(df_points['Парковка'].isin(['100', '1000', '700', 'платная парковка']), 'Парковка')] = 'paid'
df_points.loc[(df_points['Парковка'].isin(['бесплатная парковка','бесплатная паpковка']), 'Парковка')] = 'free'
df_points.loc[(~(df_points['Парковка'].isin(['free','paid'])), 'Парковка')] = 'no_parking'

df_points['Парковка'].unique()

array(['бесплатная парковка', '100', nan, 'платная парковка',
       'нет парковки', '1000', '700', 'бесплатная паpковка'], dtype=object)

array(['free', 'paid', 'no_parking'], dtype=object)

In [11]:
# Приведем формат магазина к одному виду
df_points['Формат магазина'].unique()

df_points.loc[(df_points['Формат магазина'].isin(['Мини ТЦ', 'Мини-ТЦ']), 'Формат магазина')] = 'мини-ТЦ'
df_points.loc[(~(df_points['Формат магазина'].str.contains('ТЦ')), 'Формат магазина')] = 'Стрит'

df_points['Формат магазина'].unique()

array(['ТЦ', 'Street', 'Мини ТЦ', 'Стрит', 'Мини-ТЦ', 'Strееt', 'Стрт'],
      dtype=object)

array(['ТЦ', 'Стрит', 'мини-ТЦ'], dtype=object)

In [12]:
# Сколько всего точек у заказчика
n_points = df_points.shape[0]
print(f'У заказчика всего {n_points} точек')

# Сколько точек в обучающей выборке
n_points_train = df_points[df_points['Выборка'] == 'train'].shape[0]
print(f'В обучающей выборке {n_points_train} точек')

print(f'Обучающая выборка {round(n_points_train/(n_points/100))}% от всей')

У заказчика всего 246 точек
В обучающей выборке 146 точек
Обучающая выборка 59% от всей

In [13]:
# Пропуски в тренировочных данных
train_points_df = df_points[df_points['Выборка'] == 'train']

train_points_df.isna().sum()

id точки                 1
Адрес                    0
Широта                   2
Долгота                  2
Дата открытия            0
Дата закрытия          142
Площадь магазина         0
Тип входа                1
Площадь ТЦ              24
Формат магазина          0
Парковка                 0
Этаж                     2
Время работы             6
Заполненность ТЦ        45
Рядом с эскалатором      0
Рядом со входом          0
Конкуренты в ТЦ         87
Расположение в ТЦ       15
Толока                   0
Люкс                     0
Выборка                  0
dtype: int64

Для магазинов из тренировочной выборки:
- почти нет дат закрытия (возможно они открыты),
- много пропусков в данных о заполненности ТЦ, площади, конкурентах, парковке, расположении в тц
- уточнить что означают пропуски конкурентов в тц: отсуствие конкурентов или пропущенное значение
- аналогично по пропускам парковки 

Также я бы еще увеличила обучающую выборку до 70-80%.
- В колонке 'Выборка'перепутаны занчения, необходимо чтобы у всех точки которые присутсвуют в датасете с выручкой относились к тренировочной выборке остальные к тестовой.
- В колонке 'Формат магазина', 'Праковка', 'Этаж' необходимо стандартизировать запсиь формата

## Ответы на вопросы

Ответы на вопросы:

Сколько магазинов формата стрит в тестовой выборке?
Какова средняя выручка магазинов формата мини ТЦ за 2016 год?
Сколько магазинов с бесплатной парковкой?

In [14]:
# Сколько магазинов формата стрит в тестовой выборке?
test_points_df = df_points[df_points['Выборка'] == 'test']

print(f"В тестовой выборке {test_points_df[test_points_df['Формат магазина'] == 'Стрит'].shape[0]} магазинов формата стрит.")

В тестовой выборке 8 магазинов формата стрит.

In [15]:
# Какова средняя выручка магазинов формата мини ТЦ за 2016 год?

# id магазинов мини формата
mini_id = train_points_df[train_points_df['Формат магазина'] == 'мини-ТЦ']['id точки']

# колонки с выручкой за 2016 год
col_2016 = ['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
            '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01', 
            '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01']

# датасет с доходами от мини-ТЦ за 2016
df_mini_2016 = df_proceeds[df_proceeds['id точки'].isin(mini_id)][col_2016]
df_mini_2016.head(2)

# средняя выручка для магазинов из mini_id
print(f"Средняя выручка мини-ТЦ за 2016 год: {round(df_mini_2016.replace(0, np.NaN).mean().mean(), 2)}")

,2016-01-01,2016-02-01,2016-03-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01
11,367034.64,518191.52,612575.47,462814.80,477767.72,451050.10,401384.01,383641.48,422102.43,422386.72,405809.08,856554.57
14,288251.64,380476.89,409749.79,335297.01,341503.35,310039.59,273176.74,293777.85,343191.18,338595.30,311294.64,588298.82

Средняя выручка мини-ТЦ за 2016 год: 335129.28

In [16]:
# Сколько магазинов с бесплатной парковкой?

print(f"Всего {df_points[df_points['Парковка'] == 'free'].shape[0]} магазинов с бесплатной парковкой.")

Всего 157 магазинов с бесплатной парковкой.